
  .navbar{
    width: 100%;
    float: right;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
  }
  .navbar li{
    float: right; 
    list-style-type: none;   
  }
  .logo {
    display: block;
    float: left;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size:larger;
    color: #069;
  }
  .link{
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
  }
  .main{
    min-height: 100vh;
    background-image: url(../assets/img/AnaekranResim.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .glass{
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter:blur(2rem);
  }
  .circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    
  }
  .circle1{
    top:5%;
    right: 10%;
  }
  .circle2{
    bottom:5%;
    left: 8%;
  }
  .flex1{
    display: flex;
  }
  .homeimg{
    height: 500px;
    width: 600px;
  }
  .ansayfadiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .anasayfametin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    margin: 5px;
  }
  .bigblue {
    color: #982242;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  .blue{
    color: #a99e06;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
  }
  .baslik{
    color: #a99e06;
    font-family: 'Courier New', monospace;
    text-align: center;
  }
  .btn-primary{
    color: #a99e06;
    background-color: #2E4C80;
    background-color: cutom-color;
    border-color: #2E4C80;
    border-color: cutom-cor;
  }
  .anasayfaCard{
    position:fixed;
    justify-content: center;
    left: 0;
    border-color: white;
    padding:5%;    
    font-family: 'Courier New', monospace;
    margin: 5px;
  }
  .anasayfaDuyuru{
    position:fixed;
    left: 3%;
    padding-top: 5%;
    border: 1px solid #a99e06;
    border-radius: 30px;
    padding:20px;    
    font-family: 'Courier New', monospace;
    margin: 2%;
    width: 200px;
    background-color: white;
  }
  .hakkimizdaAciklama{
    left: 3%;
    padding-top: 5%;
    border: 1px solid #a99e06;
    border-radius: 30px;
    padding:20px;    
    font-family: 'Courier New', monospace;
    margin: 2%;
  }
  .hakkimizdaIsbitirme{
    left: 3%;
    padding-top: 5%;
    border: 1px solid #a99e06;
    border-radius: 30px;
    padding:20px;    
    font-family: 'Courier New', monospace;
    margin: 2%;
    background-color: rgba(255,255,255,0.7);

  }
  .hakkimizdaIsortakları{
    left: 3%;
    padding-top: 5%;
    border: 1px solid #a99e06;
    border-radius: 30px;
    padding:20px;    
    font-family: 'Courier New', monospace;
    margin: 2%;
    width: 30%;
    background-color: rgba(255,255,255,0.7);

  }
  .projectImage{
    width: 100%;
    height: 300px;
    border-radius: 30px;
  }
  .projectItem{  
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    display: flex;
    margin-bottom: 3%;
    margin-left: 8%;   
    border-radius: 30px;
    border-bottom: 1px solid #a99e06;    
    border-right: 1px solid #a99e06;
  }
  .projectList{
    padding: 5%;  
    width: 100%;    
  }
  .projecTitle{
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    top: 5%;
    left: 20%;
    border-radius: 30px;
    padding: 5px;
  }
  