
  .navbar{
    width: 100%;
    float: right;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
  }
  .navbar li{
    float: right; 
    list-style-type: none;   
  }
  .logo {
    display: block;
    float: left;
    padding: 15px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size:larger;
    color: #069;
  }
  .link{
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #069;
  }
  .main{
    min-height: 100vh;
    background:linear-gradient(to right top,#65dfc9,#6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .glass{
    background: white;
    min-height: 80vh;
    width: 70%;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter:blur(2rem);
  }
  .circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    
  }
  .circle1{
    top:5%;
    right: 10%;
  }
  .circle2{
    bottom:5%;
    left: 8%;
  }
  .flex1{
    display: flex;
  }
  .homeimg{
    height: 500px;
    width: 600px;
  }
  .ansayfadiv{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .anasayfametin{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
    margin: 5px;
  }
  .bigblue {
    color: #069;
    font-family: Arial;
    text-align: center;
  }
  .blue{
    color: #006688;
    font-family: Arial;
    text-align: center;
  }
  